@font-face {
	font-family: Lato-Black;
	src: url('./assets/fonts-singolo2/Lato/Lato-Black.ttf');
}

@font-face {
	font-family: Lato-Light;
	src: url('./assets/fonts-singolo2/Lato/Lato-Light.ttf');
}

@font-face {
	font-family: Lato-Regular;
	src: url('./assets/fonts-singolo2/Lato/Lato-Regular.ttf');
}



body {
	margin: 0 auto;
	padding: 0px;
	max-width: 1020px;
}

.header {
	align-items: center;
	background: #2d303a;
	display: flex;
	justify-content: space-between;
	height: 89px;
	width: 100%;
}

.logo {
	font-family: Lato-Black;
	display: flex;
	color: white;
	margin: 0px;
	text-transform: uppercase;
	font-size: 24.4902px;
	padding-left: 40px;
	padding-bottom: 2px;
	font-style: normal;
	font-weight: bold;
}

.logo h1 {
	width: 155.41px;
	height: 20px;
	left: 42px;
	top: 41.74px;
	padding-top: 15px;
	font-size: 24.2902px;
	line-height: 6px;
}

.logo h1 span {
	color: #F06C64;
}

.nav {
	font-family: Lato-Regular;
	text-align: justify;
	display: flex;
	text-transform: uppercase;
	font-size: 11.6593px;
	padding-right: 36px;
	line-height: 7px;
}

.nav li {
	padding-right: 1.5px;
	color: #494E62;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 11px;
}

.nav li span {
	color: #ffffff;
}


li:first-child {
	list-style-type: none;
	color: red;
	cursor: pointer;
}
.nav li span:hover{
	color: red;
	cursor: pointer;
}

.borderTop {
	border-bottom: 6px solid #323746;
}

.borderMiddle {
	border-bottom: 6px solid #ea676b;
}
.borderBottom{
	border-bottom: 6px solid #ffffff;
}

.slider {
	display: flex;
	width: 100%;
	height: 594px;
	background: #f06c64;
}

.clik {
	padding-left: 43px;
	padding-top: 280px;
	width: 16px;
	height: 28px;
}
.clik:hover{
	cursor: pointer;
}
.clikR {
	padding-left: 55px;
}
.clikR:hover{
	cursor: pointer;
}

.iPhone1 {
	padding-top: 53px;
	padding-left: 53px;
}

.iPhone2 {
	padding-left: 69px;
	padding-bottom: 122px;
}

.servicesAdvantage {
	height: 494px;
	background: #F2F2F2;
}

.services {
	text-overflow: ellipsis;
	height: 150px;
	padding: 34px;
	padding-left: 39.5px;
	padding-bottom: 27.5px;
}

.services h2 {
	font-family: Lato-Black;
	padding-top: 26px;
	margin: 0px auto;
	font-size: 29.6188px;
	color: #767E9E;
}

.services .pTop {
	margin: 0px auto;
	padding-top: 18px;
	padding-bottom: 0px;
	font-family: Lato-Light;
	font-size: 17.5px;
	color: #767E9E;
	line-height: 30px;
	word-spacing: 1.5px;
}
.services .pBottom{
	margin: 0px auto;
	font-family: Lato-Light;
	font-size: 17.5px;
	color: #767E9E;
	line-height: 30px;
	word-spacing: -0.5px;
}


.advantage {
	height: 282px;
	display: flex;
}


.itemAdvantage {
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
	text-overflow: ellipsis;
	padding-left: 30px;
	display: flex;
	width: 300px;
	height: 92px;
	margin-bottom: 29px;
}

.itemAdvantage h3 {
	letter-spacing: 0em;
	font-family: Lato-Black;
	margin: 0 auto;
	font-size: 17.7713px;
	color: #666D89;
	padding-left: 21px;
	padding-top: 1px;
}

/* .itemAdvantage p {
	font-family: Lato-Regular;
	margin: 0px auto;
	color: #767E9E;
	font-size: 12px;
	line-height: 22px;
	 padding-top: 9px;
	padding-left: 21px;
	word-spacing: 6px;
}  */
.advantage .itemLeft .pTop {
	font-family: Lato-Regular;
	margin: 0px auto;
	color: #767E9E;
	font-size: 12px;
	line-height: 22px;
	padding-top: 8px;
	padding-left: 20px;
	word-spacing: 6px;
}
.advantage .itemLeft .pMid{
	font-family: Lato-Regular;
	margin: 0px auto;
	color: #767E9E;
	font-size: 12px;
	line-height: 20px;
	padding-left: 20px;
	word-spacing: 1px;
}
.advantage .itemLeft .pBottom{
	font-family: Lato-Regular;
	margin: 0px auto;
	color: #767E9E;
	font-size: 12px;
	line-height: 24px;
	padding-left: 20px;
	word-spacing: 1px;
}
.advantage .itemLeft .pTop1 {
	font-family: Lato-Regular;
	margin: 0px auto;
	color: #767E9E;
	font-size: 12px;
	line-height: 22px;
	padding-top: 7px;
	padding-left: 20px;
	word-spacing: 1px;
}

.advantage .itemLeft .pMid1{
	font-family: Lato-Regular;
	margin: 0px auto;
	color: #767E9E;
	font-size: 12px;
	line-height: 20px;
	padding-left: 20px;
}

.advantage .itemLeft .pBottom1{
	font-family: Lato-Regular;
	margin: 0px auto;
	color: #767E9E;
	font-size: 12px;
	line-height: 24px;
	padding-left: 20px;
	word-spacing: 1px;
}
.advantage .itemMiddle .pTop2 {
	font-family: Lato-Regular;
	margin: 0px auto;
	color: #767E9E;
	font-size: 12px;
	line-height: 22px;
	padding-top: 8px;
	padding-left: 20px;
	word-spacing: 1px;
}

.advantage .itemMiddle .pMid2{
	font-family: Lato-Regular;
	margin: 0px auto;
	color: #767E9E;
	font-size: 12px;
	line-height: 20px;
	padding-left: 20px;
	word-spacing: 6px;
}
.advantage .itemMiddle .pBottom2{
	font-family: Lato-Regular;
	margin: 0px auto;
	color: #767E9E;
	font-size: 12px;
	line-height: 24px;
	padding-left: 20px;
}
.advantage .itemMiddle .pTop3 {
	font-family: Lato-Regular;
	margin: 0px auto;
	color: #767E9E;
	font-size: 12px;
	line-height: 22px;
	padding-top: 8px;
	padding-left: 20px;
	word-spacing: 1px;
}
.advantage .itemMiddle .pMid3{
	font-family: Lato-Regular;
	margin: 0px auto;
	color: #767E9E;
	font-size: 12px;
	line-height: 18px;
	padding-left: 20px;
}
.advantage .itemMiddle .pBottom3{
	font-family: Lato-Regular;
	margin: 0px auto;
	color: #767E9E;
	font-size: 12px;
	line-height: 25px;
	padding-left: 20px;
	word-spacing: 2px;
}
.advantage .itemRight .pTop4 {
	font-family: Lato-Regular;
	margin: 0px auto;
	color: #767E9E;
	font-size: 12px;
	line-height: 22px;
	padding-top: 8px;
	padding-left: 20px;
	word-spacing: 2px;
}
.advantage .itemRight .pMid4{
	font-family: Lato-Regular;
	margin: 0px auto;
	color: #767E9E;
	font-size: 12px;
	line-height: 19px;
	padding-left: 20px;
	word-spacing: 1px;
}
.advantage .itemRight .pBottom4{
	font-family: Lato-Regular;
	margin: 0px auto;
	color: #767E9E;
	font-size: 12px;
	line-height: 25px;
	padding-left: 20px;
}
.advantage .itemRight .pTop5 {
	font-family: Lato-Regular;
	margin: 0px auto;
	color: #767E9E;
	font-size: 12px;
	line-height: 20px;
	padding-top: 8px;
	padding-left: 20px;
	word-spacing: 1px;
}
.advantage .itemRight .pMid5{
	font-family: Lato-Regular;
	margin: 0px auto;
	color: #767E9E;
	font-size: 12px;
	line-height: 22px;
	padding-left: 20px;
	word-spacing: 7px;
}
.advantage .itemRight .pBottom5{
	font-family: Lato-Regular;
	margin: 0px auto;
	color: #767E9E;
	font-size: 12px;
	line-height: 21px;
	padding-left: 20px;
}
.itemLeft {
	padding-top: 3px;
	padding-left: 41px;
}

.itemMiddle {
	padding-top: 3px;
	padding-left: 19px;
}

.itemRight {
	padding-top: 3px;
	padding-left: 20px;
}

.itemAdvantage img {
	padding-top: 5px;
	padding-bottom: 58.5px;
	width: 59px;
	height: 59px;
}
.headerPortfolio {
	display: block;
	width: 100%;
	height: 180px;
	background: #2d303a;
}

.headerPortfolioText {
	padding-top: 59px;
	font-family: 'Lato';

	margin-left: 39.5px;
}

.headerPortfolioText h1 {
	color: #666d89;
	margin-top: 1px;
	font-weight: bolder;
	font-size: 29.5px;
	font-family: Lato-Black;
}

.headerPortfolioText p {
	color: #767e9e;
	margin-bottom: 0px;
	font-size: 17.5px;
	padding-top: 2px;
	font-family: Lato-Light;
}

.headerPortfolioText p span {
	padding-left: 2px;
	font-size: 17.5px;
	padding-top: 2px;
	font-family: Lato-Light;
	word-spacing: 0, 8px;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.navheader {
	margin: 15px 0px 0px 36px;
}

.navheader a {
	margin-right: 1px;
	padding: 3px;
	font-size: 12px;
	font-family: Lato-Regular;
	margin-left: 5px;
	border: 1px solid #666d89;
	text-decoration: none;
	color: #666d89;
}

.navheader a:hover {
	border: 1px solid #ffffff;
	color: #ffffff;
}

.navheader .item1 {
	border-radius: 5px;
	padding: 2px 6px 3px 7px;
}

.navheader .item2 {
	border-radius: 5px;
	padding: 2px 6px 3px 7px;
}

.navheader .item3 {
	border-radius: 5px;
	padding: 2px 5px 3px 5px;
}

.navheader .item4 {
	border-radius: 5px;
	padding: 2px 6px 3px 5px;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.work {
	overflow: hidden;
	display: flex;
	background: #2d303a;
	max-width: 1020px;
	height: 622px;
}

.itemBottom {
	background: #2d303a;
	width: 100%;
	height: 61px;
}

.work .section1 {
	margin-top: 15px;
	margin-left: 40px;
}

.work .section2 {
	margin-top: 15px;
	padding-left: 5px;

}

.work .section3 {
	margin-top: 15px;
	margin-right: 6px;
	padding-left: 5px;
}

.work .section4 {
	margin-top: 15px;
	margin-right: 25px;
}

.itemWork {
	padding-top: 15px;
}

.midBorder {
	border: 3px solid #323746;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.aboutUs {
	padding: 33px 1px 1px 39px;
}

.aboutUs h2 {
	padding-left: 1px;
	padding-top: 3px;
	color: #666d89;
	font-size: 29.5px;
	font-family: Lato-Black;
}

.aboutUs .p1 {
	color: #767e9e;
	margin-top: -6px;
	font-size: 18px;
	font-family: Lato-Light;
	line-height: 29px;
	word-spacing: 1.4px;
}

.aboutUs .p2 {
	color: #767e9e;
	margin-top: -17px;
	font-size: 18px;
	font-family: Lato-Light;
	line-height: 29px;
}

.aboutUs .p2 span {
	padding-left: 3px;
	/* word-spacing: 1.4px; */
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.we {
	background: #f2f2f2;
	min-height: 728px;
}

.vc {
	display: flex;
	margin-top: 26px;
	margin-left: 40px;
}

.itemMid2 .photo {
	padding-left: 18px;
}

.itemRight3 .photo {
	padding-left: 21px;
}

.itemLeft1 h2 {
	max-width: 150px;
	white-space: nowrap;
	color: #666d89;
	font-family: Lato-Black;
	font-size: 18px;
	margin-top: 10px;
	margin-left: -1px;
}

.itemLeft1 .pTop {
	color: #767e9e;
	font-family: Lato-Regular;
	font-size: 12px;
	margin-left: -1px;
	margin-top: -4px;
	word-spacing: -0.2px;
}

.itemLeft1 p span {
	margin-left: -1.6px;
}

.itemLeft1 .pBottom {
	color: #767e9e;
	font-family: Lato-Regular;
	font-size: 12px;
	margin-left: -1px;
	margin-top: -6px;
	word-spacing: -0.2px;
}

.itemMid2 h2 {
	max-width: 150px;
	white-space: nowrap;
	color: #666d89;
	font-family: Lato-Black;
	font-size: 18px;
	margin-top: 10px;
	margin-left: 18px;
}

.itemMid2 .pTop {
	color: #767e9e;
	font-family: Lato-Regular;
	font-size: 12px;
	margin-left: 18px;
	margin-top: -4px;
	word-spacing: -0.2px;
}

.itemMid2 .pBottom {
	color: #767e9e;
	font-family: Lato-Regular;
	font-size: 12px;
	margin-left: 18px;
	margin-top: -6px;
	word-spacing: -0.2px;
}

.itemRight3 h2 {
	max-width: 150px;
	white-space: nowrap;
	overflow: hidden;
	color: #666d89;
	font-family: Lato-Black;
	font-size: 18px;
	margin-top: 10px;
	margin-left: 19px;
}

.itemRight3 .pTop {
	color: #767e9e;
	font-family: Lato-Regular;
	font-size: 12px;
	margin-left: 21px;
	margin-top: -4px;
	word-spacing: -0.2px;
}

.itemRight3 .pBottom {
	color: #767e9e;
	font-family: Lato-Regular;
	font-size: 12px;
	margin-left: 21px;
	margin-top: -6px;
	word-spacing: -0.2px;
}

.itemLeft1 .social {
	margin-top: 15px;
	margin-left: 3px;
	cursor: pointer;
}

.container {
	margin-top: 27px;
	margin-left: 19px;
}

.container .social {
	padding-left: 3px;
	cursor: pointer;
}

.container {
	margin-top: 27px;
	margin-left: 19px;
}

.bottomBorder {
	border: 3px solid #ffffff;
}
/* ///////////////////////////////////////// */
.formFooter{
    background: #f06c64;
    min-height: 648px;
}
.formFooter h2{
    margin: 0px;
    padding: 59px 0px 15px 40px;
    font-family: Lato-Black;
    font-size: 30px;
    color: #f0d8d9;
}
.formFooter p{
    color: #f0d8d9;
    margin: 7px 0 0 40px;
    font-family: Lato-Light;
    font-size: 18px;
    word-spacing: 1.8px;
}
.formFooter .text{
    word-spacing: 0.4px;
}


/* ///////////////////////////////////////////// */
.form{ 
    padding: 47px 0px 0px 37px;
    display: flex;
}
.form-group{
    padding: 16px 0 0 3px;
}
.group{
    padding: 2px 0 0 3px;
}
.form .form-input{
    padding: 0px 0 0 13px;
    width: 604px;
    height: 36px;
    color: #f0d8d9;
    font-size: 12px;
    background: #d6564f;
    border: 1px solid #d6564f;
    border-radius: 5px;
}

.form .textMessage{
    width: 604px;
    height: 200px;
}
input[type="text"]::placeholder { 
    color: #f08586; 
    font-family: Lato-Regular;
    padding-top: 1.5px;
} 
input[type="email"]::placeholder { 
    color: #f08586; 
    font-family: Lato-Regular;
} 
textarea[type="text"]::placeholder { 
    color: #f08586; 
    font-family: Lato-Regular;
    padding-top: 8.5px;
} 
.submit{
    padding: 18px 0px 0px 19px;
}
.form-submit{
    width: 50px;
    height: 20px;
    border: 1px solid #ad433e;
    background-color: #d6564f;
    cursor: pointer;
    outline: none;
    color: #f0d8d9;
}

/* ///////////////////////////////////////// */


.form .contact{
    width: 325px;
}
.form .contact .text h3{
    margin: 0px;
    padding: 0px 0px 0px 21px;
    font-size: 18px;
    color: #f0d8d9;
    font-family: Lato-Black;
}
.form .contact .text p{
    margin: 0px;
    padding: 8px 0px 0px 20px;
    font-size: 12.4px;
    color: #f0d8d9;
    font-family: Lato-Light;
    line-height: 21.3px;
}
.textContact{
    padding-top: 21px;
}
.contact .textContact .conteiner{
    display: flex;
    padding: 8px 0 0 24px;
    font-family: Lato-Light;
}
.contact .textContact .conteiner a{
    text-decoration: none;
    display: flex;
}
.contact .textContact .conteiner p {
    font-size: 12px;
    padding: 0px 0px 0px 13px;
    margin: 0px;
    margin-top: -2px;
    word-spacing: 0px;
}
.contact .textContact .conteiner img {
width: 7px;
height: 11px;
}
.contact .textContact .phonemin1{
    display: flex;
    padding: 8.3px 0 0 22px;
    font-family: Lato-Light;
}
.contact .textContact .phonemin1 a{
    text-decoration: none;
    display: flex;
}
.contact .textContact .phonemin1 p {
    font-size: 12px;
    padding: 0px 0px 0px 11px;
    margin: 0px;
    margin-top: -2px;
    word-spacing: 0px;
}
.contact .textContact .phonemin1 .phonemin2 {
    width: 11px;
 height: 10px;
}
.contact .textContact .mailmin1{
    display: flex;
    padding: 11.3px 0 0 21px;
    font-family: Lato-Light;
}
.contact .textContact .mailmin1 a{
    text-decoration: none;
    display: flex;
}
.contact .textContact .mailmin1 p {
    font-size: 12px;
    padding: 0px 0px 0px 11px;
    margin: 0px;
    margin-top: -5px;
    margin-left: -1px;
    word-spacing: 0px;
}
.contact .textContact .mailmin1 .mailmin2 {
    width: 13px;
 height: 8px;
}
.endFooter{
    border: 3px solid #ea676b;
}

.footer{
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: space-between;
    background: #2d303a;
}
.footer .text{
    display: flex;
}

 .footer .text p{
     margin: 0px;
     padding: 30px 0px 0px 42px;
     font-family: Lato-Light;
     font-size: 12px;
     color: #5e657e;
 }
 .footer .social {
    padding: 22px 35px 0px 0px;
 }
 .footer .social img{
    padding: 0px 4px 0px 0px;
    cursor: pointer;
 }