@font-face {
	font-family: Lato-Black;
	src: url('./assets/fonts-singolo2/Lato/Lato-Black.ttf');
}

@font-face {
	font-family: Lato-Light;
	src: url('./assets/fonts-singolo2/Lato/Lato-Light.ttf');
}

@font-face {
	font-family: Lato-Regular;
	src: url('./assets/fonts-singolo2/Lato/Lato-Regular.ttf');
}

html {
	scroll-behavior: smooth;
}

.wrapper {
	max-width: 1020px;
	margin: 0 auto;
}

body {
	margin: 0 auto;
	padding: 0px;
}

.linkServices {
	height: 40px;
	min-width: 100%;
	z-index: 1;
	position: absolute;
}

.border__menu {
	display: none;
}

.header__wrapper {
	z-index: 1;
	position: fixed;
	align-items: center;
	background: #2d303a;
	display: flex;
	justify-content: space-between;
	height: 89px;
	width: 100%;
	left: 0;
	right: 0;
}

.logo {
	font-family: Lato-Black;
	display: flex;
	color: white;
	margin: 0px;
	text-transform: uppercase;
	font-size: 24.4902px;
	padding-left: 40px;
	padding-bottom: 2px;
	font-style: normal;
	font-weight: bold;
}

.logo h1 {
	font-family: Lato-Black;
	width: 155.41px;
	height: 20px;
	left: 42px;
	top: 41.74px;
	padding-top: 15px;
	font-size: 24.2902px;
	line-height: 6px;
}

.logo h1 span {
	color: #F06C64;
}

.logo span {
	color: #2d303a;
}

.nav {
	font-family: Lato-Regular;
	text-align: justify;
	display: flex;
	text-transform: uppercase;
	font-size: 11.6593px;
	padding-right: 37px;
	line-height: 7px;
}

.nav li {
	list-style-type: none;
	padding-right: 1.5px;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 13px;
}

.nav li a {
	color: #ffffff;
	text-decoration: none;
}

.nav li span {
	cursor: pointer;
	color: #494E62;
	padding-right: 14px;
}



.nav li a:hover {
	color: red;
	cursor: pointer;
}

.nav .active {
	color: red;
}
.nav375px {
	height: 100%;
	background: #2D303A;
	z-index: 2;
	position: absolute;
	position: fixed;
	min-width: 281px;
}

.burger {
	display: flex;
	padding: 10px 0px 0px 20px;
}
.wrapper__nav375px {
	display: none;
}
.blur{
	background: rgba(45, 48, 58, 0.479);
	position: fixed;
	z-index: 1;
	min-height: 100%;
	min-width: 100%;
	right: 0px;
}

.burger img {
	width: 20px;
	height: 25px;
	margin-top: 14px;
	margin-left: 6px;
	cursor: pointer;
}

.logo1 {
	font-family: Lato-Black;
	display: flex;
	color: white;
	margin: 0px;
	text-transform: uppercase;
	font-size: 12.4902px;
	padding-left: 29px;
	padding-bottom: 2px;
	font-style: normal;
	font-weight: bold;
}
.logo1 span{
	color: red;
}
.nav375px nav {
	margin: 139px 0px 0px 35px;
}
.nav375px li {
	font-family: Lato-Regular;
	font-size: 23px;
	color: white;
	padding-top: 29px;
	list-style-type: none;
	text-transform: uppercase;
	cursor: pointer;
}
.nav375px .active1 {
	color: red;
}
.nav375px li a {
	color: #ffffff;
	text-decoration: none;
}

.borderTop {
	border-bottom: 6px solid #323746;
}

.borderMiddle {
	border-bottom: 6px solid #ea676b;
}

.borderBottom {
	border-bottom: 6px solid #ffffff;
}

.t {
	height: 89px;
}

/* /////////////////////////////////////////////////////////////// */
.wrapper__sliders {
	position: relative;
	background: #f06c64;
	min-height: 594px;
}

.sliders-item {
	width: 100%;
	height: 100%;
}

#left-button,
#right-button {
	cursor: pointer;
	position: absolute;
	top: 50%;
}

#elem {
	display: none;
	background: #2d303a;
	position: absolute;
	z-index: 1;
	width: 188px;
	height: 333px;
	margin-top: 118px;
	margin-left: 126px;
	cursor: pointer;
}

#click {
	cursor: pointer;
	position: absolute;
	z-index: 1;
	width: 188px;
	height: 333px;
	margin-top: 118px;
	margin-left: 126px;
}

#click1 {
	cursor: pointer;
	position: absolute;
	z-index: 1;
	width: 333px;
	height: 188px;
	margin-top: 188px;
	margin-left: 485px;
}

#elem1 {
	cursor: pointer;
	display: none;
	background: #2d303a;
	position: absolute;
	z-index: 1;
	width: 333px;
	height: 188px;
	margin-top: 18.7%;
	margin-left: 47.5%;
}

#left-button {
	cursor: pointer;
	width: 20px;
	height: 20px;
	left: 41px;
}

#right-button {
	cursor: pointer;
	right: 56px;

}

.iPhone1 {
	max-width: 100%;
	height: auto;
	margin: 54px 0 0 112px;

	/* padding-top: 54px;
	padding-left: 112px; */
}

.iPhone2 {
	max-width: 100%;
	height: auto;
	margin: 177px 0px 122px 73px;
}

.css__adaptive {
	max-width: 100%;
	height: auto;
	display: flex;
}

/* ///////////////////////////////////////////////////// */
.servicesAdvantage {
	margin: 0 auto;
	max-width: 1020px;
	height: 494px;
	background: #F2F2F2;
}

.wrapper__Advantage {
	height: 494px;
	background: #F2F2F2;
}

.services {
	text-overflow: ellipsis;
	height: 150px;
	padding: 34px;
	padding-left: 39.5px;
	padding-bottom: 27.5px;
}

.services h2 {
	font-family: Lato-Black;
	padding-top: 25px;
	margin: 0px auto;
	font-style: normal;
	font-weight: 900;
	font-size: 30px;
	line-height: 36px;
	color: #767E9E;
}

.services .pTop {
	margin: 0px auto;
	padding-top: 19px;
	padding-bottom: 0px;
	font-family: Lato-Light;
	font-size: 17.5px;
	color: #767E9E;
	line-height: 30px;
	word-spacing: 1.5px;
	text-align: justify;
}

.services .pBottom {
	margin: 0px auto;
	font-family: Lato-Light;
	font-size: 17.5px;
	color: #767E9E;
	line-height: 30px;
	text-align: justify;
}


.advantage {
	height: 330px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.i1 div:nth-child(1) {
	margin: 3px 0px 0px 1px;
}

.i2 div:nth-child(1) {
	margin: 3px 0px 0px 0px;
}

.i1 {
	margin-left: 40px;
}

.i3 {
	margin-right: 40px;
}

.i3 div:nth-child(1) {
	margin: 3px 0px 0px 0px;
}

.i4 div:nth-child(1) {
	margin: 3px 0px 0px 1px;
}

.i4 {
	margin: -42px 0px 0px 40px;
}

.i6 {
	margin-right: 40px;
}

.i5 div:nth-child(1) {
	margin: -39px 0px 0px 0px;
}

.i6 div:nth-child(1) {
	margin: -39px 0px 0px 0px;
}

.central {
	width: 300px;
	height: 98px;
}

.advantageText {
	padding: 0px 0px 0px 0px;
}

.itemAdvantage {
	overflow: hidden;
	display: flex;
}

.itemAdvantage h3 {
	letter-spacing: 0em;
	font-family: Lato-Black;
	margin: 0 auto;
	font-size: 17.7713px;
	color: #666D89;
	padding-left: 21px;
	padding-top: 1px;
}

.itemAdvantage p {
	font-family: Lato-Regular;
	margin: 0px;
	color: #767E9E;
	font-size: 12px;
	line-height: 21px;
	padding-top: 8px;
	padding-left: 20px;
	text-align: justify;
}

.i1p p {
	margin-right: 1px;
}




.itemAdvantage img {
	padding-top: 5px;
	padding-bottom: 58.5px;
	height: 59px;
}

.headerPortfolio {
	display: block;
	width: 100%;
	height: 180px;
	background: #2d303a;
}

.headerPortfolioText {
	padding-top: 59px;
	font-family: 'Lato';

	margin-left: 39.5px;
}

.headerPortfolio .headerPortfolioText h1 {
	color: #666d89;
	margin: 1px;
	font-weight: bolder;
	font-size: 29.5px;
	font-family: Lato-Black;
}

.headerPortfolioText p {
	color: #767e9e;
	margin: 22px 0px 0px 0px;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	font-family: Lato-Light;
	word-spacing: 1.3px;
}

.headerPortfolioText p span {
	padding-left: 2px;
	font-size: 17.5px;
	padding-top: 2px;
	font-family: Lato-Light;
	word-spacing: 0, 8px;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.navheader {
	margin: 15px 0px 0px 36px;
}

.navheader a {
	margin-right: 1px;
	padding: 3px;
	font-size: 12px;
	font-family: Lato-Regular;
	margin-left: 5px;
	border: 1px solid #666d89;
	text-decoration: none;
	color: #666d89;
	cursor: pointer;
}

.navheader a:hover {
	border: 1px solid #ffffff;
	color: #ffffff;
}

.navheader .active2 {
	border: 1px solid #ffffff;
	color: #ffffff;
}

.navheader .item1 {
	border-radius: 5px;
	padding: 2px 6px 3px 7px;
}

.navheader .item2 {
	border-radius: 5px;
	padding: 2px 6px 3px 7px;
}

.navheader .item3 {
	border-radius: 5px;
	padding: 2px 5px 3px 5px;
}

.navheader .item4 {
	border-radius: 5px;
	padding: 2px 6px 3px 5px;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.wrapper__work {
	overflow: hidden;
	background: #2d303a;
	padding-bottom: 48px;
}

.work .layout-4-column {
	max-width: 940px;
	margin-top: 15px;
	margin-left: 40px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.itemWork {
	cursor: pointer;
	margin-bottom: 20px;
	border-style: none;
}

.itemActive {
	width: 210px;
	height: 177px;
	border: 5px solid #F06C64;
}

.midBorder {
	margin: auto;
	max-width: 1014px;
	border: 3px solid #323746;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.aboutUs {
	padding: 33px 1px 1px 39px;
}

.aboutUs h2 {
	padding-left: 1px;
	padding-top: 3px;
	color: #666d89;
	font-size: 29.5px;
	font-family: Lato-Black;
}

.aboutUs .p1 {
	color: #767e9e;
	margin-top: -6px;
	font-size: 18px;
	font-family: Lato-Light;
	line-height: 29px;
	word-spacing: 1.4px;
}

.aboutUs .p2 {
	color: #767e9e;
	margin-top: -17px;
	font-size: 18px;
	font-family: Lato-Light;
	line-height: 29px;
}

.aboutUs .p2 span {
	padding-left: 3px;
	/* word-spacing: 1.4px; */
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.we {
	background: #f2f2f2;
	min-height: 728px;
}

.vc {
	display: flex;
	margin-top: 26px;
	margin-left: 40px;
}

.itemLeft1 {
	max-width: 304px;
	margin-right: -3px;
}

.itemMid2 {
	max-width: 311px;
	margin-right: 7px;
}

.itemRight3 {
	max-width: 313px;
}

.itemMid2 .photo {
	padding-left: 18px;
}

.itemRight3 .photo {
	padding-left: 21px;
}

.itemLeft1 h2 {
	overflow: hidden;
	max-width: 300px;
	white-space: nowrap;
	color: #666d89;
	font-family: Lato-Black;
	font-size: 18px;
	margin-top: 10px;
	margin-left: -1px;
}

.itemLeft1 .pTop {
	color: #767e9e;
	font-family: Lato-Regular;
	font-size: 12px;
	margin-left: -1px;
	margin-top: -6px;
	text-align: justify;
	line-height: 20px;
}

.itemMid2 h2 {
	overflow: hidden;
	max-width: 300px;
	white-space: nowrap;
	color: #666d89;
	font-family: Lato-Black;
	font-size: 18px;
	margin-top: 10px;
	margin-left: 18px;
}

.itemMid2 .pTop {
	color: #767e9e;
	font-family: Lato-Regular;
	font-size: 12px;
	margin-left: 18px;
	margin-top: -6px;
	text-align: justify;
	line-height: 20px;
}


.itemRight3 h2 {
	overflow: hidden;
	max-width: 300px;
	white-space: nowrap;
	overflow: hidden;
	color: #666d89;
	font-family: Lato-Black;
	font-size: 18px;
	margin-top: 10px;
	margin-left: 19px;
}

.itemRight3 .pTop {
	color: #767e9e;
	font-family: Lato-Regular;
	font-size: 12px;
	margin-left: 21px;
	margin-top: -5px;
	text-align: justify;
	line-height: 19px;
}


.itemLeft1 .social {
	margin-top: 13px;
	margin-left: 3px;
	cursor: pointer;
}

.container {
	margin-top: 25px;
	margin-left: 18px;
}

.container .social {
	padding-left: 3px;
	cursor: pointer;
}

.bottomBorder {
	border: 3px solid #ffffff;
}

/* ///////////////////////////////////////// */
.formFooter {
	background: #f06c64;
	min-height: 648px;
}

.formFooter h2 {
	margin: 0px;
	padding: 59px 0px 15px 40px;
	font-family: Lato-Black;
	font-size: 30px;
	color: #f0d8d9;
}

.formFooter p {
	color: #f0d8d9;
	margin: 7px 0 0 40px;
	font-family: Lato-Light;
	font-size: 18px;
	word-spacing: 1.8px;
}

.formFooter .text {
	word-spacing: 0.4px;
}


/* ///////////////////////////////////////////// */
.form {
	padding: 47px 0px 0px 37px;
	display: flex;
}

.form-group {
	padding: 16px 0 0 3px;
}

.group {
	padding: 2px 0 0 3px;
}

.form .form-input {
	padding: 0px 0 0 13px;
	width: 604px;
	height: 36px;
	color: #f0d8d9;
	font-size: 12px;
	background: #d6564f;
	border: 1px solid #d6564f;
	border-radius: 5px;
}

.form .textMessage {
	width: 604px;
	height: 200px;
}

input[type="text"]::placeholder {
	color: #f08586;
	font-family: Lato-Regular;
	padding-top: 1.5px;
}

input[type="email"]::placeholder {
	color: #f08586;
	font-family: Lato-Regular;
}

textarea[type="text"]::placeholder {
	color: #f08586;
	font-family: Lato-Regular;
	padding-top: 8.5px;
}

.submit {
	padding: 18px 0px 0px 19px;
}

.form-submit {
	width: 50px;
	height: 20px;
	border: 1px solid #ad433e;
	background-color: #d6564f;
	cursor: pointer;
	outline: none;
	color: #f0d8d9;
}

#message-block {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #d6564f71;
}

#message-block.hidden {
	display: none;
}

#message1 {
	background: #d3180ea8;
	padding: 20px;
	width: auto;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	border: 2px solid black;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
}

#closeBtn {
	border: 1px solid #ad433e;
	background-color: #800802;
	cursor: pointer;
	outline: none;
	color: #f0d8d9;
}

#message1 p {
	color: black;
	margin: 0px;
	word-spacing: 0px;
}

/* ///////////////////////////////////////// */


.form .contact {
	width: 325px;
}

.form .contact .text h3 {
	margin: 0px;
	padding: 0px 0px 0px 21px;
	font-size: 18px;
	color: #f0d8d9;
	font-family: Lato-Black;
}

.form .contact .text p {
	margin: 0px;
	padding: 8px 0px 0px 20px;
	font-size: 12.4px;
	color: #f0d8d9;
	font-family: Lato-Light;
	line-height: 21.3px;
}

.textContact {
	padding-top: 21px;
}

.contact .textContact .conteiner {
	display: flex;
	padding: 8px 0 0 24px;
	font-family: Lato-Light;
}

.contact .textContact .conteiner a {
	text-decoration: none;
	display: flex;
}

.contact .textContact .conteiner p {
	font-size: 12px;
	padding: 0px 0px 0px 13px;
	margin: 0px;
	margin-top: -2px;
	word-spacing: 0px;
}

.contact .textContact .conteiner img {
	width: 7px;
	height: 11px;
}

.contact .textContact .phonemin1 {
	display: flex;
	padding: 8.3px 0 0 22px;
	font-family: Lato-Light;
}

.contact .textContact .phonemin1 a {
	text-decoration: none;
	display: flex;
}

.contact .textContact .phonemin1 p {
	font-size: 12px;
	padding: 0px 0px 0px 11px;
	margin: 0px;
	margin-top: -2px;
	word-spacing: 0px;
}

.contact .textContact .phonemin1 .phonemin2 {
	width: 11px;
	height: 10px;
}

.contact .textContact .mailmin1 {
	display: flex;
	padding: 11.3px 0 0 21px;
	font-family: Lato-Light;
}

.contact .textContact .mailmin1 a {
	text-decoration: none;
	display: flex;
}

.contact .textContact .mailmin1 p {
	font-size: 12px;
	padding: 0px 0px 0px 11px;
	margin: 0px;
	margin-top: -5px;
	margin-left: -1px;
	word-spacing: 0px;
}

.contact .textContact .mailmin1 .mailmin2 {
	width: 13px;
	height: 8px;
}

.endFooter {
	margin: auto;
	max-width: 1014px;
	border: 3px solid #ea676b;
}

.footer {
	width: 100%;
	height: 76px;
	margin-bottom: 289px;
	display: flex;
	justify-content: space-between;
	background: #2d303a;
}

.footer .text {
	display: flex;
}

.footer .text p {
	margin: 0px;
	padding: 30px 0px 0px 42px;
	font-family: Lato-Light;
	font-size: 12px;
	color: #5e657e;
}

.footer .social {
	padding: 22px 35px 0px 0px;
}

.footer .social img {
	padding: 0px 4px 0px 0px;
	cursor: pointer;
}

@media (max-width: 1000px) {
	.servicesAdvantage {
		margin: 0px;
		max-width: 768px;
	}

	.wrapper {
		max-width: 768px;
	}

	.iPhone2 {
		height: 40px;
		width: 60px;
	}

	.header__wrapper {
		max-width: 768px;
	}

	.wrapper {
		margin: 0px;
	}

	.logo {
		font-size: 25px;
		line-height: 30px;
		letter-spacing: -0.03em;
		padding-left: 41px;
		padding-top: 1px;
	}

	.nav {
		padding-bottom: 6px;
	}

	#left-button {
		left: 30px;
		top: 47.8%;
	}

	#right-button {
		right: 26px;
		top: 47.5%;
	}

	#elem {
		width: 142px;
		height: 253px;
		margin-top: 88px;
		margin-left: 95px;
	}

	#elem1 {
		width: 252px;
		height: 143px;
		margin-top: 18.6%;
		margin-left: 47.4%;
	}

	#click {
		width: 142px;
		height: 252px;
		margin-top: 89px;
		margin-left: 95px;
	}

	#click1 {
		width: 252px;
		height: 144px;
		margin-top: 143px;
		margin-left: 364px;
	}

	.css__adaptive .sliders2 {
		width: 768px;
		height: 441px;
	}

	.iPhone1 {
		height: 364px;
		margin: 40px 0 0 84px;
	}

	.iPhone2 {
		width: auto;
		height: 181px;
		margin: 133px 0px 0px 54px;
	}

	.wrapper__sliders {
		min-height: 445px;
	}

	.servicesAdvantage {
		margin: 0px;
		height: 669px;
	}

	.services {
		height: 172px;
		padding: 15px;
		padding-left: 40.5px;
		padding-bottom: 27.5px;
	}

	.services .pTop {
		margin: 0px;
		width: 670px;
	}

	.i2 div:nth-child(1) {
		margin: 2px 72px 0px -73px;
	}

	.i3 div:nth-child(1) {
		margin: 47px -40px 0px 41px;
	}

	.i4 {
		margin: 45px 75px 0px 0px;
	}

	.i6 div:nth-child(1) {
		margin: 50px 33px 0px -34px;
	}

	.i5 div:nth-child(1) {
		margin: 49px -39px 0px 42px;
	}

	.i3 {
		margin-right: 0px;
	}

	.headerPortfolioText p {
		margin: 20px 58px 0px 0px;
		line-height: 28px;
	}

	.wrapper__work {
		padding-bottom: 45px;
	}

	.work .layout-4-column {
		margin-top: 55px;
		margin-left: 39px;
		padding-right: 42px;
	}

	.navheader {
		margin: 15px 0px 0px 36px;
	}

	.work .layout-4-column img {
		width: 216px;
		height: 184px;
		margin: 0px 0px 20px 0px;
	}

	.midBorder {
		margin: 0px;
		max-width: 762px;
	}

	.aboutUs {
		padding: 26px 1px 1px 39px;
	}

	.vc {
		margin-top: 21px;
		margin-left: 42px;
	}

	.itemLeft1 {
		max-width: 218px;
	}

	.itemLeft1 .photo {
		width: 219px;
		height: 219px;
	}

	.itemLeft1 h2 {
		margin-top: 7px;
	}

	.itemLeft1 .pTop {
		margin-top: -15px;
		line-height: 22px;
	}

	.itemLeft1 .social {
		margin-top: -2px;
	}

	.itemMid2 {
		width: 218.94px;
		height: 360px;
		margin-right: 0px;
	}

	.itemMid2 .photo {
		width: 219px;
		height: 219px;
	}

	.itemMid2 h2 {
		margin-top: 7px;
		margin-left: 19px;
	}

	.itemMid2 .pTop {
		line-height: 22px;
		margin-top: -14px;
		margin-right: -17px;
	}

	.container {
		margin-top: -3px;
		margin-left: 16px;
	}

	.itemRight3 {
		margin: 0px 0 0 12px;
		width: 219px;
		height: 219px;
	}

	.itemRight3 .photo {
		width: 219px;
		height: 219px;
	}

	.itemRight3 h2 {
		margin-top: 7px;
		margin-left: 21px;
	}

	.itemRight3 .pTop {
		line-height: 22px;
		margin-top: -14px;
		margin-right: -19px;
	}

	.we {
		min-height: 663px;
	}

	.formFooter {
		max-width: 768px;
	}

	.endFooter {
		margin: 0px;
		max-width: 762px;
	}

	.footer {
		max-width: 768px;
	}

	.formFooter h2 {
		padding: 53px 0px 15px 42px;
	}

	.formFooter p {
		margin: 5px 23px 0 40px;
		line-height: 29px;
	}

	.form {
		padding: 24px 0px 0px 36px;
		display: flex;
	}

	.form .form-input {
		width: 427px;

		margin-top: -3px;
	}

	.form .textMessage {
		height: 145px;
	}

	.formFooter {
		min-height: 625px;
	}

	.form .contact .text h3 {
		padding: 0px 0px 0px 29px;
	}

	.form .contact .text p {
		padding: 1px 0px 0px 29px;
		line-height: 22px;
	}

	.form .contact {
		width: 257px;
		height: 225px;
	}

	.textContact {
		padding-top: 0px;
	}

	.submit {
		padding: 26px 0px 0px 4px;
	}

	.form-submit {
		border-radius: 5px;
		text-transform: uppercase;
		width: 135px;
		height: 37px;
	}

	.contact .textContact .conteiner {
		padding: 8px 0 0 32px;
	}

	.contact .textContact .conteiner img {
		padding-top: 6px;
	}

	.contact .textContact .phonemin1 {
		padding: 0px 0 0 30px;
	}

	.contact .textContact .phonemin1 p {
		margin-top: -7px;
	}

	.contact .textContact .mailmin1 {
		padding: 3.3px 0 0 29px;
	}

	.contact .textContact .mailmin1 p {
		margin-top: -10px;
	}
}

@media (max-width: 720px) {

	/* .nav375px {
		height: 100%;
		background: #2D303A;
		z-index: 2;
		position: absolute;
		position: fixed;
		min-width: 281px;
	}

	.burger {
		display: flex;
		padding: 10px 0px 0px 20px;
	}
	.wrapper__nav375px {
		display: none;
	}
	.blur{
		background: rgba(45, 48, 58, 0.479);
		position: fixed;
		z-index: 2;
		min-height: 100%;
		min-width: 121px;
		right: 0px;
	}

	.burger img {
		width: 20px;
		height: 25px;
		margin-top: 14px;
		margin-left: 6px;
		cursor: pointer;
	}

	.logo1 {
		font-family: Lato-Black;
		display: flex;
		color: white;
		margin: 0px;
		text-transform: uppercase;
		font-size: 12.4902px;
		padding-left: 29px;
		padding-bottom: 2px;
		font-style: normal;
		font-weight: bold;
	}
	.logo1 span{
		color: red;
	}
	.nav375px nav {
		margin: 139px 0px 0px 35px;
	}
	.nav375px li {
		font-family: Lato-Regular;
		font-size: 23px;
		color: white;
		padding-top: 29px;
		list-style-type: none;
		text-transform: uppercase;
		cursor: pointer;
	}
	.nav375px .active1 {
		color: red;
	}
	.nav375px li a {
		color: #ffffff;
		text-decoration: none;
	} */


	.header__wrapper {
		max-width: 375px;
		justify-content: flex-start;
	}

	.border__menu {
		display: block;
		margin: 0px 0px -4px 19px;
	}

	.logo {
		font-style: normal;
		font-weight: bold;
		font-size: 19.6875px;
		line-height: 24px;
		margin: 0px 0px 0px 54px;
	}

	.nav {
		display: none;
	}

	.header__wrapper {
		height: 71px;
	}

	.t {
		height: 71px;
	}

	.borderTop {
		display: none;
	}

	.wrapper__sliders {
		min-height: 221px;
	}

	#left-button {
		left: 10px;
		top: 44.8%;
	}

	#right-button {
		right: 9px;
		top: 44.5%;
	}

	.iPhone1 {
		height: 176px;
		margin: 20px 0 0 42px;
		width: 87px;
	}

	.iPhone2 {
		width: 176px;
		height: 90px;
		margin: 64px 0px 0px 28px;
	}

	#click {
		width: 76px;
		height: 124px;
		margin-top: 43px;
		margin-left: 43px;
	}

	#elem {
		width: 72px;
		height: 123px;
		margin-top: 43px;
		margin-left: 44px;
	}

	#click1 {
		width: 126px;
		height: 70px;
		margin-top: 70px;
		margin-left: 176px;
	}

	#elem1 {
		width: 125px;
		height: 70px;
		margin-top: 18.6%;
		margin-left: 47.4%;
	}

	.borderMiddle {
		display: none;
	}

	.services h2 {
		padding-top: 8px;
	}

	.services {
		padding: 18px;
		padding-left: 31.5px;
	}

	.services .pTop {
		width: 302px;
	}

	.servicesAdvantage {

		height: 1032px;
		max-width: 375px;
	}

	.i1 {
		margin-left: 32px;
		margin-top: 103px;
	}

	.i2 div:nth-child(1) {
		margin: 25px -34px 0px 32px;
	}

	.i3 div:nth-child(1) {
		margin: 46px -31px 0px 32px;
	}

	.i4 {
		margin: 65px 0px 0px 32px;
	}

	.i5 div:nth-child(1) {
		margin: 25px -29px 0px 33px;
	}

	.i6 div:nth-child(1) {
		margin: 46px -31px 0px 32px;
	}

	.wrapper {
		max-width: 375px;
	}

	.borderBottom {
		display: none;
	}

	.headerPortfolioText {
		padding-top: 42px;
		margin-left: 29.5px;
	}

	.navheader {
		margin: 21px 0px 0px 25px;
	}

	.work .layout-4-column img {
		width: 151px;
		height: 128px;
		margin: 0px 12px 14px 0px;
	}

	.work .layout-4-column {
		margin-top: 69px;
		margin-left: 30px;
		padding-right: 18px;
	}

	.wrapper__work .layout-4-column img:nth-child(9) {
		display: none;
	}

	.wrapper__work .layout-4-column img:nth-child(10) {
		display: none;
	}

	.wrapper__work .layout-4-column img:nth-child(11) {
		display: none;
	}

	.wrapper__work .layout-4-column img:nth-child(12) {
		display: none;
	}

	.wrapper__work {
		padding-bottom: 27px;
	}

	.midBorder {
		display: none;
	}

	.aboutUs {
		padding: 7px 1px 1px 29px;
	}

	.aboutUs .p1 {
		margin: 0px;
		width: 313px;
	}

	.vc {
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 23px;
		margin-left: 31px;
	}

	.we {
		height: 1754px;
		width: 375px;
	}

	.itemLeft1 .photo {
		width: 314px;
		height: 314px;
	}

	.itemLeft1 {
		max-width: 314px;
	}

	.itemLeft1 h2 {
		margin-top: 13px;
	}

	.itemMid2 {
		width: 314.94px;
		height: 360px;
		margin: 31px 0px 0px 0px;
	}

	.itemMid2 .photo {
		padding: 0px;
		width: 314px;
		height: 314px;
	}

	.itemMid2 h2 {
		margin: 13px 0px 0px 0px;
	}

	.itemMid2 .pTop {
		margin: 0px 0px 0px 0px;
	}

	.container {
		margin-top: 12px;
		margin-left: -2px;
	}

	.itemRight3 .photo {
		padding-left: 0px;
	}

	.itemRight3 {
		margin: 0px 0 0 0px;
		padding: 114px 0px 0px 0px;
		width: 316px;
	}

	.itemRight3 .photo {
		width: 314px;
		height: 314px;
	}

	.itemRight3 h2 {
		margin: 13px 0px 0px 0px;
	}

	.itemRight3 .pTop {
		margin: 0px 0px 0px 0px;
	}

	.bottomBorder {
		display: none;
	}

	.formFooter h2 {
		padding: 44px 0px 15px 30px;
	}

	.formFooter p {
		margin: 5px 23px 0 30px;
		line-height: 29px;
	}

	.formFooter {
		width: 375px;
		min-height: 969px;
	}

	.formFooter p {
		margin: 3px 23px 0 30px;
		line-height: 30px;
	}

	.form {
		padding: 24px 0px 0px 27px;
	}

	.form .form-input {
		width: 300px;
		margin-top: -4px;
	}

	.form .textMessage {
		height: 158px;
	}

	.submit {
		padding: 11px 0px 0px 3px;
	}

	.form-submit {
		width: 315px;
		height: 49px;
		border-radius: 5px;
		text-transform: uppercase;
	}

	.form {
		display: block;
	}

	.form .contact {
		width: 375px;
	}

	.form .contact .text h3 {
		padding: 31px 0px 0px 3px;
	}

	.form .contact .text p {
		padding: 0px 48px 0px 3px;
	}

	.textContact {
		padding: 0px 0px 0px 0px;
	}

	.contact .textContact .conteiner {
		padding: 9px 0 0 6px;
	}

	.contact .textContact .phonemin1 {
		padding: 6px 0 0 5px;
	}

	.contact .textContact .mailmin1 {
		padding: 3.3px 0 0 3px;
	}

	.endFooter {
		margin: 0px;
		display: none;
	}

	.footer .text p {
		display: none;
	}

	.footer {
		max-width: 375px;
	}

	.footer .social {
		padding: 22px 107px 0px 0px;
	}

}